<!-- pet-component.component.html -->

<div>
  <h2>Tentativa 5000000000</h2>

  <form [formGroup]="form">
    <label for="animalId">ID:</label>
    <input id="animalId" type="text" formControlName="id" required>

    <label for="animalNome">Nome:</label>
    <input id="animalNome" type="text" formControlName="nome" required>

    <label for="animalRaca">Raça:</label>
    <input id="animalRaca" type="text" formControlName="raca" required>

    <button type="button" (click)="cadastrarAnimal()">Cadastrar</button>
    <button type="button" (click)="atualizarAnimal()">Atualizar</button>
    <button type="button" (click)="excluirAnimal()">Excluir</button>
    <!-- Outros botões -->
  </form>

  <div id="animalOutput">
    <h3>Animais:</h3>
    <div *ngIf="animais.length === 0">
      <p>Nenhum animal disponível</p>
    </div>
    <div *ngFor="let animal of animais; let i = index">
      <p>{{ i }}: ID {{ animal.id }} - {{ animal.nome }} ({{ animal.raca }}) - {{ animal.adotado ? 'Adotado' : 'Disponível' }}</p>
    </div>
  </div>
</div>
